#bjl_shameless_plugs { margin: 25px auto; width: 744px; }
#bjl_shameless_plugs h3 { color: #FFFFFF; font-size: 12px; line-height: 26px; padding-left: 10px; text-transform: uppercase; background-image: url(images/background_shameless.jpg); background-color: #1A5B78; background-position: top center; background-repeat: repeat-x; }
#bjl_shameless_plugs h3 a { text-decoration: none; color: #FFFFFF; }
#bjl_shameless_plugs img { width: 350px; padding: 5px; border: 1px solid #DCDCDC; background-color: #FFFFFF; clear: both; }
#bjl_shameless_plugs li { width: 362px; float: left; margin: 0px; text-align: center; }
#bjl_shameless_plugs li.buffer { margin-right: 20px; }
#bjl_shameless_plugs div { width: 362px; margin: 7px 0px; font-size: 1.35em; font-weight: bold; clear: both; }